<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= Title %>  </title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="menu-container">
        <div class="file" id="file">File</div>
        <div class="home" id="home">Home</div>
    </div>
    <div class="menu-options">
        <div class="file-menu-options">
            <div class="new" id="new">New</div>
            <div class="open" id="open">Open</div>
            <div class="save" id="save">Save</div>
        </div>
        <div class="home-menu-options">
            Home Menu Options
        </div>
    </div>
    <div class="formula-tab">
        Formula Tab
       <input type="text" id="address" readonly>
       <input type="text" id="formula-input">
    </div>
    <div class="content">
        <div class="top-left-cell" id="top-left-cell"></div>
        <div class="top-row" id="top-row">
            <%for(let i=0 ; i<26 ; i++){%>
                <div class="top-cell"><%= String.fromCharCode(i+65)%></div>
                <%}%>
        </div>
        <div class="left-col" id="left-col">
            <%for(let i=1 ; i<=100 ; i++){%>
                <div class="left-cell"><%= i%></div>
                <%}%>
        </div>
      <div class="cells" id="cells">
          <%for(let i=0 ; i<100 ; i++){%>
              <div class="row">
                  <%for(let j=0 ; j<26 ; j++){%>
                      <div class="cell" id="cell" contenteditable="true" r-id="<%=i%>" c-id="<%=j%>" >
                      </div>
                   <%}%>
              </div>
           <%}%>
      </div>
    </div>
    <div class="sheets">Sheets</div>
    <script src="./script.js"></script>
</body>
</html>