<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= Title %>  </title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="menu-container">
        <div class="file" id="file">File</div>
        <div class="home" id="home">Home</div>
    </div>
    <div class="menu-options">
        <div class="file-menu-options active">
            <div class="new" id="new">New</div>
            <div class="open" id="open">Open</div>
            <div class="save" id="save">Save</div>
        </div>
        <div class="home-menu-options">
            <div class="formatting">
                <div class="font-selector">
                   <select name="font" id="font">
                       <option value="">Font1</option>
                       <option value="">Font2</option>
                       <option value="">Font3</option>
                       <option value="">Font4</option>
                   </select>
                </div>
                <div class="font-styler">
                    <input type="button" id="bold" value="B">
                    <input type="button" id="underline" value="U">
                    <input type="button" id="italic" value="I">
                </div>
            </div>
            <div class="styling">
                <div class="font-size">
                    <select name="fontsize" id="fontsize">
                        <option value="10">10</option>
                        <option value="10">12</option>
                        <option value="10">14</option>
                        <option value="10">16</option>
                    </select>
                </div>
                <div class="color">
                    <input type="color" name="fontcolor" id="fontcolor">
                    <input type="color" name="cellcolor" id="cellcolor">
                </div>
            </div>
            <div class="alignment">
                <input type="button" value="L">
                <input type="button" value="C">
                <input type="button" value="R">
            </div>
        </div>
    </div>
    <div class="formula-tab">
        Formula Tab
       <input type="text" id="address" readonly>
       <input type="text" id="formula-input">
    </div>
    <div class="content">
        <div class="top-left-cell" id="top-left-cell"></div>
        <div class="top-row" id="top-row">
            <%for(let i=0 ; i<26 ; i++){%>
                <div class="top-cell"><%= String.fromCharCode(i+65)%></div>
                <%}%>
        </div>
        <div class="left-col" id="left-col">
            <%for(let i=1 ; i<=100 ; i++){%>
                <div class="left-cell"><%= i%></div>
                <%}%>
        </div>
      <div class="cells" id="cells">
          <%for(let i=0 ; i<100 ; i++){%>
              <div class="row">
                  <%for(let j=0 ; j<26 ; j++){%>
                      <div class="cell" id="cell" contenteditable="true" r-id="<%=i%>" c-id="<%=j%>" >
                      </div>
                   <%}%>
              </div>
           <%}%>
      </div>
    </div>
    <div class="sheets">Sheets</div>
    <script src="./script.js"></script>
</body>
</html>